<div class="w-time" >
  <mat-toolbar fxLayout="column"  fxLayout.lt-md="row" fxLayoutAlign="center center" [color]="color" class="w-timepicker-time-container">
      
      <div class="w-timepicker-selected-time">
          <span [class]="currentView === VIEW_HOURS ? 'active': ''" (click)="setCurrentView(VIEW_HOURS)">{{ formatHour() }}:</span>
          <span [class]="currentView === VIEW_MINUTES ? 'active': ''" (click)="setCurrentView(VIEW_MINUTES)">{{ formatMinute() }}</span>
      </div>
      <div class="w-timepicker-selected-ampm" *ngIf="userTime.format === 12">
          <span (click)="setMeridien('AM')" [class]="userTime.meriden === 'AM' ? 'active' : ''">AM</span>
          <span (click)="setMeridien('PM')" [class]="userTime.meriden === 'PM' ? 'active' : ''">PM</span>
      </div>

  </mat-toolbar>

  <div class="w-time-content">
      <w-clock [color]="color" class="w-animation-zoom" [userTime]="userTime" (userTimeChange)="emituserTimeChange($event)" [(currentView)]="currentView" (viewChange)="setCurrentView($event)"></w-clock>

      <div >
          <button mat-button (click)="revert()">{{revertLabel}}</button>
          <button mat-button [color]="color" (click)="submit()">{{submitLabel}}</button>
      </div>
  </div>
</div>