<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="nav-content">
    	<h2>{{title}}</h2>
    	<ul class="cafes-list" >
    		<li *ngFor=" let cafe of cafes; let i = index">
    			<a>{{cafe.name}}</a>
          <mat-icon (click)="add_fav(this)" class="add-fav">{{favicon}}</mat-icon>
    		</li>
    	</ul>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" class="btn-icon" (click)="drawer.toggle(); Icon()">
      <mat-icon>{{icon}}</mat-icon>
    </button>
  </div>

  <router-outlet></router-outlet>

</mat-drawer-container>


